@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap");

/* Custom properties for colors */
:root {
	--bg-color: #f44336;
	--bg-light: #d5d5d5;
	--btn-bg-color: #d5d5d5;
	--btn-hover-color: #000;
	--text-dark: #262626;
	--text-light: white;
	--shadow-color: #ee0707;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg-color);
	font-family: Lato, sans-serif;
}

.container {
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin: auto;
}

/* direct child of flex-container */
.title {
	color: white;
	margin-top: 3rem;
	text-shadow: 0.3rem 0.3rem 0.1rem var(--shadow-color);
}

/* direct child of flex-container */
.form {
	width: 100%;
	display: flex;
}

#inputField {
	width: 100%;
	flex: 1.5;
	padding: 0.5rem 1rem;
	font-family: Lato, sans-serif;
	font-size: 1rem;
	font-style: italic;
	border: none;
	box-shadow: 0.3rem 0.3rem 0.1rem var(--shadow-color);
}

/* Need to remove default border */
#inputField:hover,
#inputField:focus,
#inputField:active {
	border: 0.5px solid #e2837c;
}

.add {
	flex: 0.5;
	box-shadow: 0.3rem 0.3rem 0.1rem var(--shadow-color);
}

/* direct child of flex-container */
.to-dos {
	list-style: none;
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/*Grid container with second row for buttons on screens < 576px*/
.todo-item {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	box-shadow: 0.3rem 0.3rem 0.1rem var(--shadow-color);
}

.todo-text {
	grid-column: 1/-1; /*spans entire row*/
	background-color: var(--bg-light);
	color: var(--text-dark);
	padding: 0.5rem 1rem;
	width: 100%;
}

/* Common styles for all buttons */
.btn {
	font-family: Lato, sans-serif;
	font-size: 1rem;
	border: none;
	padding: 0.5rem 1rem;
	background-color: var(--btn-bg-color);
}

.btn:hover,
.btn:focus,
.btn:active {
	background-color: var(--btn-hover-color);
	color: var(--text-light);
}
/* Style after doneButton click */
.ready {
	text-decoration: line-through solid 2px green;
}

@media only screen and (min-width: 576px) {
	.todo-item {
		grid-template-columns: 4fr 0.7fr 0.7fr 0.7fr;
		grid-template-rows: 1fr;
	}
	.todo-text {
		grid-column: 1;
	}
	.add {
		flex: 0.75;
	}
	#inputField {
		flex: 2;
	}
}

@media only screen and (min-width: 992px) {
	.container {
		width: 80%;
	}
	.todo-item {
		grid-template-columns: 4fr 0.6fr 0.6fr 0.6fr;
		grid-template-rows: 1fr;
	}
	#inputField {
		flex: 2.5;
	}
}
